* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

header {
  background-color: rgb(43, 43, 43);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
}

h1 {
  color: white;
}
h2 {
  color: rgb(222, 226, 0);
  font-size: 1.4rem;
  margin: 20px 0;
}

footer {
  position: bottom;
  background-color: rgb(43, 43, 43);
  width: 100%;
  color: white;
  padding: 20px;
}

.pfooter {
  margin-bottom: 10px;
}

/***************************************************/

.Section {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-around;
}


/***********Formulario**************************/
.Formulario {
  background-color: rgb(86, 1, 143);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.473));
  min-width: 400px;
  max-width: 35%;
  min-height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#HeaderForm {
  display: flex;
  align-items: center;
  padding: 20px;
}

.descricao {
  height: 100px;
}

form {
  text-align: left;
}

input, select {
  border-radius: 8px;
  width: 300px;
  padding: 5px;
}


textarea {
  border-radius: 8px;
  padding: 5px;
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  max-height: 200px;
}

#save-btn,
#clear-form-btn {
  margin: 20px 0;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
}
#save-btn {
  background-color: rgb(24, 206, 24);
  margin-right: 10px;
}

#clear-form-btn {
  background-color: rgb(255, 51, 0);
}


/***********MAIN SECTION****************************/

main {
  background-color: white;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.473));
  padding: 20px;
width: auto;
}

.SectionCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 80px;
  background-color: red;
  border: 1px solid rgb(255, 251, 0);
  margin: 5px;
  color: white;
  filter: drop-shadow(0 0 3px black);
  border-radius: 5px;
}

#SearchDiv {
  margin: 20px 0;
}

#search{
  width: 300px;

}

.divQuickTips {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.Card-QuickTip{
    background-color: rgb(230, 230, 230);
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.623));
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 0.8rem;
}

.Card-QuickTip:hover{
  background-color: rgb(134, 134, 134);

}


#div-card-btn{
text-align: right;
}