body {
  background-color: grey;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  color: white;
}

.Calculadora {
  background-color: rgb(14, 99, 80);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.678));
  width: 380px;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********* REMOVER ARROWS DO  INPUT TYPE=NUMBER ************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  /* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*********************************************************/


#Resultado {
  background-color: white;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top:15px;
}

button {
  margin-top: 40px;
  width: 80px;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgb(136, 136, 136);
  border-radius: 10px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.541));
  color: white;
  border: 0px;
}
button:hover {
  background-color: rgb(107, 107, 107);
  filter: drop-shadow(0 0 2px black);
}
button:active {
    background-color: rgb(58, 58, 58);
  }


  footer{
    margin-top: 50px;
    background-color: black;
    width: 100vw;
    color: white;
  }

